<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Rock Paper Scissors</title>
</head>
<body>

<h1>Welcome to Rock - Paper - Scissors</h1>
<p>Relive the classic game experience with the magic of Sinatra.</p>
<p>Simply add any combo of "rock", "paper", or "scissors" as parameters in the url.
<p>For example: <a href="http://localhost:4567/rock/paper">http://localhost:4567/rock/paper</a></p>
<p class = "credit">

</body>
</html>
