<h1>Welcome to Rock - Paper - Scissors</h1>
<p>Relive the classic game experience with the magic of Sinatra.</p>
<p>Simply add any combo of "rock", "paper", or "scissors" as parameters in the url.
<p>For example: <a href="http://localhost:4567/rock/paper">http://localhost:4567/rock/paper</a></p>
<p class = "credits">Made by Mark Devlin</p>
